* {
	box-sizing: border-box;
}


.container1 {
	height: 100%;
	width: 100%;
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center; 
	align-content: space-between; 
	align-items: stretch; 
	border: 1px solid black;
}

.container2 {
	flex: 1 1 0;
	border: 1px solid black;
}

h2 {
	border: 1px solid black;
	text-align: center; 
}

h3 {
	text-align: center;
}

h4 {
	text-align: center;
}

/*header */
.header {
	background-color: #C0C2C3;
	max-width: 600px;
	margin: 0 auto;
	text-align: center; 
	border: 1px solid black;
}
.mainHeader {
	color: #4E545A;
}

#timeLine {
	color: #161A1E;
}


/*To Do Section */

.toDoList {
	background-color: #ffce65; 
	border-radius: 5%;
	margin: 5px;
}

.addNewTask {
	margin: 0 auto;
	text-align: center;
	width: 80%;
	border: 1px solid black;
}

.addNewTask form {
	width: 100%;
}

#taskList {
	width: 90%;
	min-height: 100px; 
	max-height: 200px;
	overflow-y: auto; 
}

.checkbox {
	transform: scale(1.25);
}

.delBtn {
	transform: scale(0.5);
	opacity: 0.4;
	transition-duration: 0.25s;
	color: black;
}

.delBtn:hover {
	opacity: 1.0;
	color: red; 
}

.delete {
	display: none;
}

/*Focus Section*/
.focusTools {
	background-color: #6596ff; 
	border-radius: 5%;
	margin: 5px;
}

.dailyQuote {
	margin: 0 auto;
	text-align: center;
}

.dailyFocus {
	margin: 0 auto;
	text-align: center;
}
.focusInput {
	width: 75%;
}



/*Note Section */

.noteSection {
	background-color: #65e3ff;
	border-radius: 5%;
	margin: 5px;
}

.textArea {
	width: 95%;
	text-align: center; 
}

