/* Global styles */

body {
	background-color: #f8f5f2;
}

h1, h2, h3, h4, h5, h6 {
	color: #232323;
}

button.btn, #addItem {
	background-color: #078080;
	color: white;
}





/*Notes styling*/

#notes .card {
	background-color: #f45d48; 
	color: white;
	 /* rgba(255,233,128,0.7);  */
}


/*Custom styling of pomodoros*/
.pomoContainer {
	position: relative;
	height: 40px;
}

#pomodoroCount,
#bwPomo {
	height: 40px;
	width: 100%;
	position: absolute;
}

#pomodoroCount {
	z-index: 10;
}

#pomodoroCount .pomodoroIcon2 {
	height: 30px;
	width: 30px;
	margin: 2px;
}

#bwPomo .pomodoroIcon2 {
	height: 30px;
	width: 30px;
}

/* Robobutton styling */

.roboButton {
	position: sticky;
	position: -webkit-sticky;  
	bottom: 0;
	right: 0;
}
