/* Global styles */

body {
	background-color: #f8f5f2;
}

h1, h2, h3, h4, h5, h6 {
	color: #232323;
}

button.btn, #addItem, #noteCapture {
	background-color: #078080;
	color: white;
}


/* Spacing on todo and quick notes */

.item {
	padding: 20px;
}


/*Notes styling*/

#notes .card {
	background-color: #f45d48; 
	color: white;
	 /* rgba(255,233,128,0.7);  */
}



/* Robobutton styling */

#stickyRobo {
	bottom: 0;
	right: 0;
}
